<!doctype>
<html lang="en">

<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  {% if page.date %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property="og:description">
  <meta content="article" property="og:type">
  <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  <meta content="{{ site.title }}" property="og:title">
  <meta content="{{ site.url }}" property="og:url">
  <meta content="{{ site.description }}" property="og:description">
  <meta content="blog" property="og:type">
  {% endif %}
  <!-- - -->
</head>

<body>
  <div class="theme">

    <div class="top-container">
      <h3 class="res-title"><a href="https://drive.google.com/file/d/12du9SgFnCrSzswXr4ic0PKHZlzrIXVGp/view?usp=sharing">resume</a></h3>
    </div>
    <main class="wrapper">
      {% if page.date %}
      <article>
        <header class="post-header">
          <h2 class="post-title">{{ page.title }}</h2>
          {% if page.date %}
          <small>{{ page.date | date_to_string }}</small>
          {% endif %}
        </header>
        {{ content }}
      </article>
      <div class="pagination">
        {% if page.previous %}
        <div><a class="page-nav" href="{{ page.previous.url }}" id="js-previous-post">
            &lt; {{ page.previous.title }}
          </a></div>
        {% endif %}
        {% if page.next %}
        <div><a class="page-nav" href="{{ page.next.url }}" id="js-next-post">
            {{ page.next.title }} &gt;
          </a></div>
        {% endif %}
      </div>
      {% else %}
      {{ content }}
      </article>
      {% if page.previous or page.next %}
      <div class="pagination">
        {% if page.previous %}
        <div><a class="page-nav" href="{{ page.previous.url }}">
            &lt; {{ page.previous.title }}
          </a></div>
        {% endif %}
        {% if page.next %}
        <div><a class="page-nav" href="{{ page.next.url }}">
            {{ page.next.title }} &gt;
          </a></div>
        {% endif %}
      </div>
      {% endif %}
      {% else %}
      {{ content }}
      {% endif %}


  </div>
  <!-- <canvas class="background"></canvas> -->
  <noscript>
    HI! HI! HI! Unknown visitor with JavaScript disabled! Nice to meet you!
  </noscript>
  </main>
  <!-- <script src="/assets/stuff.js" type="text/javascript"></script> -->
  <link href="/assets/styles.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
  <script type="text/javascript">
    function track() {
      ;
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga')
      ga('create', 'UA-21332781-7', 'auto')
      ga('send', 'pageview')
    }
    if (navigator['doNotTrack'] !== '1') {
      track()
    }
  </script>
  <script src="rellax.min.js"></script>
  <script src="particles.min.js"></script>
  <script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
  </script>



  <script type="text/javascript">

      var particles2 = Particles.init({
        selector: '.pro-back',
        color: '#ffffff',
        connectParticles: true,
        maxParticles: 70,
        responsive : [
          {
            breakpoint: 1200,
            options: {
              maxParticles : 60
            }
          }, {
            breakpoint: 1000,
            options: {
              maxParticles: 50
            }
          }, {
            breakpoint: 800,
            options: {
              maxParticles: 80,
              connectParticles: false
            }
          }, {
            breakpoint: 600,
            options: {
              maxParticles: 70,
              connectParticles: false
            }
          }, {
            breakpoint: 400,
            options: {
              maxParticles: 60,
              connectParticles: false
            }
          }, {
            breakpoint: 200,
            options: {
              maxParticles: 50,
              connectParticles: false
            }
          }
        ]

      });

      var particles3 = Particles.init({
        selector: '.note-back',
        color: '#7f7f7f',
        connectParticles: true,
        maxParticles: 100,
        responsive : [
          {
            breakpoint: 1200,
            options: {
              maxParticles : 80
            }
          }, {
            breakpoint: 1000,
            options: {
              maxParticles: 60
            }
          }, {
            breakpoint: 800,
            options: {
              maxParticles: 70,
              connectParticles: false
            }
          }, {
            breakpoint: 600,
            options: {
              maxParticles: 60,
              connectParticles: false
            }
          }, {
            breakpoint: 400,
            options: {
              maxParticles: 50,
              connectParticles: false
            }
          }, {
            breakpoint: 200,
            options: {
              maxParticles: 40,
              connectParticles: false
            }
          }
        ]
      });




      var particles1 = Particles.init({
        selector: '.main-back',
        color: '#000000',
        maxParticles: 150,
        speed: 0.3,
        connectParticles: true,
        responsive : [
          {
            breakpoint: 1200,
            options: {
              maxParticles : 100
            }
          }, {
            breakpoint: 1000,
            options: {
              maxParticles: 80
            }
          }, {
            breakpoint: 800,
            options: {
              maxParticles: 60
            }
          }, {
            breakpoint: 600,
            options: {
              maxParticles: 80,
              connectParticles: false
            }
          }, {
            breakpoint: 400,
            options: {
              maxParticles: 60,
              connectParticles: false
            }
          }, {
            breakpoint: 200,
            options: {
              maxParticles: 50,
              connectParticles: false
            }
          }
        ]

      });
  </script>



</body>

</html>
